.title {
  color: white;
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
  padding-top: 15px;
}

.nav1 {
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
}
.navv:hover {
  color: rgb(37, 150, 190);
}

nav {
  text-align: center;
}